comment_list=[
        "🔥 love this one!", 
        "😂 this made my day!", 
        "Follow me for more memes like this!"
    ]

hashtags = ['funny', 
            'meme', 
            'relatable'
            ]